*,
*::before,
*::after {
  box-sizing: border-box;
}

body, footer {
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 1rem;
}


h1 {
  text-transform: uppercase;
  color: #fff;
}

h2 {
  color: #2F527B;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 .75rem;
}

input {
  padding: 1rem;
  margin: 1rem;
  border: 2px solid rgba(96, 102, 208, 0.7);
  border-radius: 12px;
}

#bnt-confirmar {
  background-color: #3498db;
  color: #fff;
}

.card-opções label {
  display: block;
}

.titulo-card {
  display: flex;
  justify-content: center;
}

.card-quiz {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.titulo-card {
  position: relative;
  top: 30px;
}

footer {
  text-align: center;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .titulo-card {
    top: 15px;
  }

  .titulo-card img {
    width: 100%;
  }

  h1 {
    font-size: 1.75rem;
  }
}
